html {
    min-height: 100%;
    
  }
  
  body {
    background-color: transparent;
  }
  
  .card-profile {
    width: 340px;
    margin: 50px auto;
    background-color: #e6e5e1;
    border-radius: 0;
    border: 0;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  }
  .card-profile .card-img-top {
    border-radius: 0;
  }
  .card-profile .card-img-profile {
    max-width: 50%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    margin-left: 25%;
    border: 5px solid #e6e5e1;
  }
  .card-profile .card-title {
    margin-bottom: 10%;
    margin-top: -13%;
  }
  .card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
  }
  .card-profile .card-links {
    margin-bottom: 25px;
  }
  .card-profile .card-links .fa {
    margin: 0 1em;
    font-size: 1.6em;
  }
  .card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
    text-decoration: none;
  }
  
  
  .card-profile .card-links .fa.fa-google {
    color:#000000;
  }
  .card-profile .card-links .fa.fa-google:hover {
    color: #3e92d5;
  }
  .card-profile .card-links .fa.fa-facebook {
    color: #3b5999;
  }
  .card-profile .card-links .fa.fa-facebook:hover {
    color: #2d4474;
  }
  .card-profile .card-links .fa.fa-linkedin {
    color: #68aade;
  }
  .card-profile .card-links .fa.fa.fa-linkedin:hover {
    color: #3e92d5;
  }